@import "tailwindcss";

:root{
  --re-bg: 7 7 10;
  --re-card: 255 255 255;
  --re-border: 255 255 255;
  --re-primary1: 99 102 241;   /* indigo */
  --re-primary2: 236 72 153;   /* pink */
}

html, body { height: 100%; }
body {
  background: rgb(var(--re-bg));
  color: white;
}
